.todo{
    background-color: #22A4F3;
    margin: 0px 260px;
}
header{

    margin: 5px;
}
.casita{
    margin: 0px;
}
.botoncito{
    background-color: #22A4F3;
    border: #22A4F3;
    color: white;
    font-size: 15px;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.botoncito:hover{
    background-color: #22A4F3;
    color: goldenrod;
    text-decoration: underline;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.d-inline.mx-2{
    float: right;
}
.dropdown-toggle.btn.btn-primary{
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    margin-right: 100px;
}
.Banner{
    margin-top: 10px;
    border-radius: 3px;
}

.members{
    background-image: linear-gradient(#22A4F3, #2268f3);
    float: right;
    color: white;
    border: none;
    font-size: 15px;
    width: 220px;
    height: 50px;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-right: 80px;
    margin-top: -80px;
    position: relative;
    border-radius: 8px;
    padding: 10px;
}

.members:hover{
    background-image: linear-gradient(#2268f3, #22A4F3);
    float: right;
    color: white;
    border: none;
    font-size: 15px;
    width: 220px;
    height: 50px;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-right: 80px;
    margin-top: -80px;
    position: relative;
    border-radius: 8px;
    padding: 10px;
}

.logo{
    height: 30px;
    width: 40px;
    margin-right:5px;
}
.ombligo{
    margin: 15px 3px;
    background-color: #258ef7;
    max-width: 977px;
    min-height: 120px;
    max-height: 120px;
    border-radius: 3px;
}   

.log{
    background-image: linear-gradient(#22A4F3, #2268f3);
    color: white;
    border: none;
    font-size: 15px;
    width: 220px;
    height: 50px;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 30px;
    border-radius: 8px;
    padding: 10px;
}

.log:hover{
    background-image: linear-gradient(#2268f3, #22A4F3);
    color: white;
    border: none;
    font-size: 15px;
    width: 220px;
    height: 50px;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 30px;
    border-radius: 8px;
    padding: 10px;
}
.oficial{
    margin-bottom: 90px;
    align-content: center;
}
.importante{
    text-align: center;
    color: goldenrod;
    cursor: pointer;
}

.con{
    position: relative;
    margin-top: -30px;
    margin-left: -20px;
}

.sin{
    position: relative;
    margin-top: -30px;
    margin-left: 10px;
}