

.todo{
    background-color: #22A4F3;
    // margin-left: 20px;
}
header{
    
    margin: 5px;
}
.botoncito{
    background-color: #22A4F3;
    border: #22A4F3;
    color: white;
    font-size: 15px;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.botoncito:hover{
    background-color: #22A4F3;
    color: goldenrod;
    text-decoration: underline;
    font-family: 'proxima_nova_bold',Helvetica,Arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.dropdown{
    background-attachment: #2291f3;
}